.navbar-container {
  padding: 32px 64px;
  background: var(--gradient1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  display: flex;
  align-items: center;
  justify-content: space-between;

  a img {
    width: 150px;
  }

  section {
    display: flex;
    align-items: center;

    & > p {
      margin: 0 32px 0 8px;
    }

    div.auth{
      display: flex;
      align-items: center;

      p {
        margin-left: 8px;
      }
    }
  }
}