<app-navbar></app-navbar>

<main class="page-container">

    <section class="tickets">

        <h2>Compra de ingressos</h2>
    
        <div>
            
            <div class="header">
                <p>Tipo</p>
                <p>Valor</p>
                <p>Quantidade</p>
            </div>

            <div>
                <p>inteira</p>
                <p>16,00</p>
                <p>2 ingressos</p>
            </div>

            <div>
                <p>inteira</p>
                <p>16,00</p>
                <p>2 ingressos</p>
            </div>

        </div>
    
        <p>Subtotal<span>32,00</span></p>
    
    </section>

    <section class="seats">

        <h2>Escolha de assentos</h2>

        <p>Legenda</p>

        <div>

            <div></div>

            <p>Disponível</p>

            <div id="selecionado"></div>

            <p>Selecionado</p>

            <div id="indisponivel"></div>

            <p>Indisponível</p>

        </div>

    </section>

    <section class="screen">

        <div id="tela"></div>

        <div id="assentos"></div>

    </section>

</main>


