<app-navbar></app-navbar>

<main class="page-container">

    <section class="tickets">

        <h2>Compra de ingressos</h2>
    
        <div>
            
            <div class="header">
                <p>Tipo</p>
                <p>Valor</p>
                <p>Quantidade</p>
            </div>

            <div>
                <p>inteira</p>
                <p>16,00</p>
                <p>2 ingressos</p>
            </div>

            <div>
                <p>inteira</p>
                <p>16,00</p>
                <p>2 ingressos</p>
            </div>

        </div>
    
        <p>Subtotal<span>32,00</span></p>
    
    </section>

</main>


