<app-navbar></app-navbar>

<main class="page-container">
  <button routerLink="/filme/1" class="btn small">Voltar</button>

  <section class="tickets">
    <h2>Compra de ingressos</h2>

    <div>
      <div class="header">
        <p>Tipo</p>
        <p>Valor</p>
        <p>Quantidade</p>
      </div>

      <div>
        <p>Meia</p>
        <p>16,00</p>
        <select (change)="onChangeInputMeia($event)" name="seat-selection" id="seat-selection" class="input-global">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>

      <div>
        <p>Inteira</p>
        <p>32,00</p>
        <select (change)="onChangeInputInteira($event)" name="seat-selection" id="seat-selection" class="input-global">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
    </div>

    <p>
      Subtotal<span>R$ {{ valorMeia * 16 + valorInteira * 32 }}</span>
    </p>
  </section>

  <section class="seats">
    <h2>Escolha de assentos</h2>

    <p>Legenda</p>

    <div>
      <div></div>

      <p>Disponível</p>

      <div id="selected"></div>

      <p>Selecionado</p>

      <div id="unavailable"></div>

      <p>Indisponível</p>
    </div>
  </section>

  <section class="screen">
    <div id="display"></div>

    <div id="seats">
      <app-seat
        *ngFor="let seat of seatData"
        [isDisabled]="seat.isDisabled"
        [isSelected]="seat.isSelected"
        (click)="toggleSeat(seat.id)"
        (click)="isButtonDisabled()"
      ></app-seat>
    </div>
  </section>

  <div class="footer">
    <div>
      <p>Escolhidos:</p>
      <p>{{ selectedSeats.join(', ') }}</p>
      <p>{{ selectedSeats.length }} / {{ valorMeia * 1 + valorInteira * 1 }}</p>
    </div>

    <button (click)="onSubmit()" [disabled]="btnDisabled" class="btn">Continuar para pagamento</button>
  </div>
</main>
