<app-navbar></app-navbar>

<main class="page-container">
  <button class="btn small" (click)="goBackToHome()">Voltar</button>
  <section class="title">
    <img class="cover" src="{{ movie.link_cover }}" alt="" />
    <div class="snaps">
      <h2>{{ movie.title }}</h2>
      <div>
        <app-badge content="{{ movie.duration }}"></app-badge>
        <app-badge content="{{ movie.genre }}"></app-badge>
      </div>
    </div>
  </section>

  <section class="info">
    <h3>Sinopse</h3>
    <div>
      <p>{{ movie.synopsis }}</p>
    </div>

    <h3>Informações</h3>
    <div>
      <p><b>Diretor:</b> {{ movie.director }}</p>
      <p><b>Elenco:</b> {{ movie.cast?.join(', ') }}</p>
      <p><b>Classificação:</b> {{ movie.classification }}</p>
    </div>
  </section>

  <section class="datepick">
    <h3>Sessões Disponíveis</h3>
    <div>
      <app-datepicker
        *ngFor="let day of arrDates"
        [when]="day.name"
        [date]="day.date"
        [isSelected]="day.date == selectedDay"
        (click)="changeSelectedDay(day.date)"
      ></app-datepicker>
    </div>
  </section>

  <section class="theater">
    <div *ngIf="room1">
      <p>SALA 1</p>

      <div>
        <button
          *ngFor="let hour of arrRoom1"
          class="btn outline"
          [disabled]="!hour.available"
          (click)="goToCheckout(hour.hour, '1')"
        >
          {{ hour.hour }}
        </button>
      </div>
    </div>
    <div *ngIf="room2">
      <p>SALA 2</p>

      <div>
        <button
          *ngFor="let hour of arrRoom2"
          class="btn outline"
          [disabled]="!hour.available"
          (click)="goToCheckout(hour.hour, '2')"
        >
          {{ hour.hour }}
        </button>
      </div>
    </div>
    <div *ngIf="room3">
      <p>SALA 3</p>

      <div>
        <button
          *ngFor="let hour of arrRoom3"
          class="btn outline"
          [disabled]="!hour.available"
          (click)="goToCheckout(hour.hour, '3')"
        >
          {{ hour.hour }}
        </button>
      </div>
    </div>
    <div *ngIf="room4">
      <p>SALA 4</p>

      <div>
        <button
          *ngFor="let hour of arrRoom4"
          class="btn outline"
          [disabled]="!hour.available"
          (click)="goToCheckout(hour.hour, '4')"
        >
          {{ hour.hour }}
        </button>
      </div>
    </div>
  </section>
</main>
