<div class="movie-box">

    <div class="image">
            
    
    </div>
    <div class="info"> 
        <h2>Nome do Filme</h2>
        <h3>Sinopse</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea Lorem ipsum dolor sit amet, consectetur adipiscing elitcommodo...</p>
        <div>
            <app-badge content="105 min"> </app-badge>
            <app-badge content="Terror"></app-badge>
        </div>
        <button routerLink="/filme/1" class="btn" >Ver sessões disponíveis</button>
    </div>

</div>
