<app-navbar></app-navbar>
<main class="page-container">
  <div>
    <h1>Filmes cadastrados</h1>
    <button class="btn" (click)="goToAddMoviePage()">Adicionar filme</button>
  </div>
  <section class="card-container">
    <app-management-card
      *ngFor="let ticket of data"
      cover="{{ ticket.cover }}"
      title="{{ ticket.title }}"
      theater="{{ ticket.theater }}"
      date="{{ ticket.date }}"
      hour="{{ ticket.hour }}"
      seats="{{ ticket.seats }}"
    ></app-management-card>
  </section>
</main>
