<main>
  <div class="container">
    <app-button type="default" content="Voltar" (click)="backToSignin()"></app-button>

    <section>
      <h1>Cadastro</h1>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="item">
          <label for="name">Nome</label>
          <input
            class="input-global"
            type="text"
            name="name"
            id="name"
            formControlName="name"
            required
            autocomplete="off"
          />
        </div>

        <div class="item">
          <label for="email">Email</label>
          <input
            class="input-global"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            autocomplete="off"
          />
        </div>

        <div class="item">
          <label for="password">Senha</label>
          <input
            class="input-global"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
          />
        </div>

        <div class="footer">
          <span></span>
          <app-button type="default" content="Cadastrar"></app-button>
        </div>
      </form>
    </section>
  </div>

  <section class="banner"></section>
</main>
