<main>
  <div class="container">
    <button type="button" class="btn small" (click)="backToSignin()">Voltar</button>

    <section>
      <h1>Cadastro</h1>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-item">
          <label for="name">Nome<span>*</span></label>
          <input
            (keyup)="onChangeInput($event)"
            (keyup)="isButtonDisabled()"
            class="input-global"
            type="text"
            name="name"
            id="name"
            formControlName="name"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-item">
          <label for="email">Email<span>*</span></label>
          <input
            (keyup)="onChangeInput($event)"
            (keyup)="isButtonDisabled()"
            class="input-global"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-item">
          <label for="password">Senha<span>*</span></label>
          <input
            (keyup)="onChangeInput($event)"
            (keyup)="isButtonDisabled()"
            class="input-global"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
          />
          <p class="info">A senha precisa ter mais de 6 caracteres</p>
        </div>

        <div class="footer">
          <span></span>
          <button [disabled]="isDisabled" type="default" class="btn">Cadastrar</button>
        </div>
      </form>
    </section>
  </div>

  <section class="banner"></section>
</main>
