<app-navbar></app-navbar>
<main class="page-container">
  <button class="btn small" (click)="goBackToManagement()">Voltar</button>
  <h1>Adicionar filme</h1>
  <form class="form-container" [formGroup]="registerMovieForm" (ngSubmit)="onSubmit()">
    <div class="column">
      <div class="form-item">
        <label for="name">Nome do filme<span>*</span></label>
        <input
          (keyup)="onChangeInput($event)"
          (keyup)="isButtonDisabled()"
          class="input-global"
          type="text"
          name="name"
          id="name"
          formControlName="name"
          required
          autocomplete="off"
          placeholder="ex: John Doe"
        />
      </div>
      <div class="form-item">
        <label for="director">Diretor<span>*</span></label>
        <input
          (keyup)="onChangeInput($event)"
          (keyup)="isButtonDisabled()"
          class="input-global"
          type="text"
          name="director"
          id="director"
          formControlName="director"
          required
          autocomplete="off"
          placeholder="ex: Taylor Abramov"
        />
      </div>

      <div class="form-item">
        <label for="duration">Duração<span>*</span></label>
        <input
          (keyup)="onChangeInput($event)"
          (keyup)="isButtonDisabled()"
          class="input-global"
          type="text"
          name="duration"
          id="duration"
          formControlName="duration"
          required
          autocomplete="off"
          placeholder="ex: 120min"
        />
      </div>

      <div class="form-item">
        <label for="imageLink">Banner<span>*</span></label>
        <input
          (keyup)="onChangeInput($event)"
          (keyup)="isButtonDisabled()"
          class="input-global"
          type="text"
          name="imageLink"
          id="imageLink"
          formControlName="imageLink"
          required
          autocomplete="off"
          placeholder="Link da imagem"
        />
      </div>
      <div class="form-item">
        <label for="startDate">Data de início<span>*</span></label>
        <input (change)="onChangeInput($event)" (change)="isButtonDisabled()" class="input-global" type="date" name="startDate" id="startDate" formControlName="startDate" required autocomplete="off"/>
      </div>
      <div class="form-item">
        <label for="finalDate">Data final<span>*</span></label>
        <input (change)="onChangeInput($event)" (change)="isButtonDisabled()" class="input-global" type="date" name="finalDate" id="finalDate" formControlName="finalDate" required autocomplete="off" />
      </div>
    </div>

    <div class="column">
      <div class="form-item">
        <h4 class="subtitle">Sessões</h4>

        <div class="session">
          <p class="text-aux">Sessão 1</p>

          <div class="session-items">
            <div class="session-item">
              <label for="room1">Sala<span>*</span></label>
              <select (change)="onChangeInput($event)" (change)="isButtonDisabled()" name="room1" id="room1" formControlName="room1" class="input-global">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>

              <label for="time1">Horário<span>*</span></label>
              <input (change)="onChangeInput($event)" (change)="isButtonDisabled()" type="time" name="time1" id="time1" formControlName="time1" class="input-global" />
            </div>
            <button [disabled]="isDisabled" class="btn small">Adicionar nova sessão</button>
          </div>
        </div>
      </div>
    </div>
    <button [disabled]="isDisabled" type="submit" class="btn" (click)="onSubmit()">Adicionar</button>
  </form>
</main>
