<main>
  <section class="banner"></section>

  <div class="container">
    <button type="button" class="btn small" (click)="backToHome()">Voltar</button>

    <section>
      <h1>Entrar</h1>

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form-item">
          <label for="email">Email<span>*</span></label>
          <input
            (keyup)="onChangeInput($event)"
            (keyup)="isButtonDisabled()"
            class="input-global"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-item">
          <label for="password">Senha<span>*</span></label>
          <input
            (keyup)="onChangeInput($event)"
            (keyup)="isButtonDisabled()"
            class="input-global"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
          />
        </div>

        <div class="footer">

          <div class="entrar">
            <a (click)="goToSignup()">Cadastre-se</a>
            <button [disabled]="isDisabled" type="submit" class="btn">Entrar</button>
          </div>

          <button class="btn" id="googlebtn" (click)="loginWithGoogle()">
            Entrar com Google
            <img src="assets/google_logo.svg" alt="google logo" class="logo"/>
          </button>
          
        </div>
      </form>
    </section>
  </div>
</main>
