<main>
  <section class="banner"></section>

  <div class="container">
    <button type="button" class="btn" (click)="backToHome()">Voltar</button>

    <section>
      <h1>Entrar</h1>

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="item">
          <label for="email">Email<span>*</span></label>
          <input
            class="input-global"
            type="email"
            name="email"
            id="email"
            formControlName="email"
            required
            autocomplete="off"
          />
        </div>

        <div class="item">
          <label for="password">Senha<span>*</span></label>
          <input
            class="input-global"
            type="password"
            name="password"
            id="password"
            formControlName="password"
            required
          />
        </div>

        <div class="footer">
          <a (click)="goToSignup()">Cadastre-se</a>
          <button type="submit" class="btn">Entrar</button>
        </div>
      </form>
    </section>
  </div>
</main>
